<!DOCTYPE html>
<html>
  <head>
    <title>学生から始める投資の手順</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  　<helper>
  　  <div class="header__bar row">
        <h1 class="grid-6"><a href="/">学生から始める投資の手順</a></h1>
        
       <div class="category grid-6">
         
       </div>
     </div>
     
     
  　  
  　</helper>
    <%= yield %>
    
    <footer>
      <p>
        Copyright 学生から始める投資の手順
      </p>
    </footer>
  </body>
</html>
