<!DOCTYPE html>
<html>
  <head>
    <title>学生投資部</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  　<header>
  　  <div class="header__bar row">
        <h1 class="grid-6"><a href="/">学生投資部</a></h1>
        
       <div class="category grid-6">
         
       </div>
     </div>
     <%= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; " %>
<!--     pretext」には、パンくずリストの先頭に挿入する文章を記述。いらない場合は設定しなくてOKです。-->

<!--「separator」には、パンくずの区切り文字を指定。「&rsaquo;」は出力されると「›」になります（文字実体参照と言います）-->
    </header>
    <%= yield %>
    
    <footer>
      <p>
        Copyright 学生から始める投資の手順
      </p>
    </footer>
  </body>
</html>
